AIR QUALITY IN CATALONIA: DATA EXPLORATION

Full dataset: 
https://analisi.transparenciacatalunya.cat/Medi-Ambient/Qualitat-de-l-aire-als-punts-de-mesurament-autom-t/tasf-thgu/about_data

In [131]:
import pandas as pd

# Reemplaza la ruta de abajo con la ruta exacta de tu archivo CSV
file_path = 'data/Qualitat_de_l_aire_als_punts_de_mesurament_autom_tics_de_la_Xarxa_de_Vigil_ncia_i_Previsi__de_la_Contaminaci__Atmosf_rica_20240307.csv'

# Leer el dataset CSV
df = pd.read_csv(file_path, low_memory=False)

In [132]:
print('\nFull Dataset Shape: ',df.shape)
print('\nDataset Columns: ',df.columns)
print('\nUnique Pollutants:',df['CONTAMINANT'].unique())
print('\nRegions:',df['NOM COMARCA'].unique())
print('\nStation Types:',df['TIPUS ESTACIO'].unique())
print('\nUrban Areas:',df['AREA URBANA'].unique())
units_per_pollutant = df.groupby('CONTAMINANT')['UNITATS'].unique()
print('\nUnits of measurement for each pollutant:',units_per_pollutant)

Full Dataset Shape:  (3261697, 40)

Dataset Columns:  Index(['CODI EOI', 'NOM ESTACIO', 'DATA', 'MAGNITUD', 'CONTAMINANT', 'UNITATS',
       'TIPUS ESTACIO', 'AREA URBANA', 'CODI INE', 'MUNICIPI', 'CODI COMARCA',
       'NOM COMARCA', '01h', '02h', '03h', '04h', '05h', '06h', '07h', '08h',
       '09h', '10h', '11h', '12h', '13h', '14h', '15h', '16h', '17h', '18h',
       '19h', '20h', '21h', '22h', '23h', '24h', 'ALTITUD', 'LATITUD',
       'LONGITUD', 'Georeferència'],
      dtype='object')

Unique Pollutants: ['NOX' 'NO' 'NO2' 'SO2' 'O3' 'H2S' 'PM2.5' 'PM10' 'C6H6' 'Hg' 'CO' 'PM1'
 'Cl2' 'HCNM' 'HCT' 'PS' 'HCl']

Regions: ['Garrigues' 'Baix Camp' 'Baix Llobregat' 'Vallès Oriental' 'Maresme'
 'Osona' 'Alt Camp' 'Tarragonès' 'Bages' 'Montsià' 'Garraf'
 'Vallès Occidental' 'Anoia' 'Gironès' 'Baix Empordà' 'Pallars Jussà'
 'Cerdanya' 'Ribera d¿Ebre' 'Barcelonès' 'Garrotxa' 'Segrià' 'Terra Alta'
 'Berguedà' 'Pallars Sobirà' 'Alt Penedès' 'Noguera' 'Baix Ebre' 'Priorat'
 'Alt Empordà' 'Ripollès' "Ribera d'Ebre"]

Station Types: ['background' 'industrial' 'traffic']

Urban Areas: ['rural' 'suburban' 'urban' 'peri-urban']

Units of measurement for each pollutant: CONTAMINANT
C6H6            [µg/m3]
CO              [mg/m3]
Cl2             [µg/m3]
H2S      [µg/m3, ug/m3]
HCNM              [ppm]
HCT               [ppm]
HCl             [µg/m3]
Hg              [ng/m3]
NO              [µg/m3]
NO2             [µg/m3]
NOX             [µg/m3]
O3              [µg/m3]
PM1             [µg/m3]
PM10            [µg/m3]
PM2.5           [µg/m3]
PS              [µg/m3]
SO2             [µg/m3]
Name: UNITATS, dtype: object

AREA OF INTEREST: Barcelona

In [ ]:
# Filtrar los datos para obtener solo aquellos registros donde 'Nom estació' contiene 'Barcelona'
df_barcelona = df[df['MUNICIPI']=='Barcelona']

# Especificar la ruta del nuevo archivo CSV
new_file_path = 'data/BarcelonaAirQuality.csv'

# Guardar el dataframe filtrado en un nuevo archivo CSV
df_barcelona.to_csv(new_file_path, index=False)

print(f"Archivo '{new_file_path}' creado con éxito.")

Archivo 'data/BarcelonaAirQuality.csv' creado con éxito.

In [22]:
import pandas as pd

# Reemplaza la ruta de abajo con la ruta exacta de tu archivo CSV
file_path = 'data/BarcelonaAirQuality.csv'

# Leer el dataset CSV
df_barcelona = pd.read_csv(file_path, low_memory=False)
#df_barcelona["DATA"] = pd.to_datetime(df_barcelona["DATA"], format='%d/%m/%Y', dayfirst=True)

In [23]:
print("\nBarcelona's Dataset Shape: ",df_barcelona.shape)

Barcelona's Dataset Shape:  (343218, 40)

In [27]:
def station_checker(df,station_name):
    #prints na values, and the oldest and earliest date of a station data
    df_station= df[df["NOM ESTACIO"]==station_name]

    num_rows_with_na = df_station.isna().any(axis=1).sum()
    print(f"\nThe station {station_name} has {num_rows_with_na} rows with at least one NA value out of {df_station.shape[0]} rows.")
    #df_station["DATA"] = pd.to_datetime(df_station["DATA"])
    print(f"Data from {pd.to_datetime(df_station['DATA'],format='%d/%m/%Y', dayfirst=True).min()} to {pd.to_datetime(df_station['DATA'],format='%d/%m/%Y', dayfirst=True).max()}")
    

    print(df_station['CONTAMINANT'].unique())

In [28]:

bcn_stations=['Barcelona (Parc Vall Hebron)','Barcelona (Ciutadella)','Barcelona (Eixample)','Barcelona (Palau Reial)','Barcelona (Poblenou)','Barcelona (Gràcia - Sant Gervasi)','Barcelona (Observatori Fabra)','Barcelona (Sants)','Barcelona (Torre Girona)','Barcelona (Sagrera)','Barcelona (St. Gervasi)']
for s in bcn_stations:
    print(s)
    station_checker(df_barcelona,s)

Barcelona (Parc Vall Hebron)

The station Barcelona (Parc Vall Hebron) has 9937 rows with at least one NA value out of 36792 rows.
Data from 2008-01-01 00:00:00 to 2024-03-07 00:00:00
['NOX' 'NO' 'CO' 'NO2' 'SO2' 'PM10' 'O3']
Barcelona (Ciutadella)

The station Barcelona (Ciutadella) has 4538 rows with at least one NA value out of 31082 rows.
Data from 2004-04-23 00:00:00 to 2024-03-07 00:00:00
['NO2' 'NOX' 'NO' 'O3' 'CO' 'SO2']
Barcelona (Eixample)

The station Barcelona (Eixample) has 13417 rows with at least one NA value out of 54407 rows.
Data from 1996-01-01 00:00:00 to 2024-03-07 00:00:00
['PM10' 'O3' 'SO2' 'NO' 'PM2.5' 'CO' 'NO2' 'NOX' 'H2S']
Barcelona (Palau Reial)

The station Barcelona (Palau Reial) has 7027 rows with at least one NA value out of 31881 rows.
Data from 2011-03-17 00:00:00 to 2024-03-07 00:00:00
['CO' 'O3' 'PM2.5' 'NO2' 'SO2' 'NO' 'PM10' 'NOX']
Barcelona (Poblenou)

The station Barcelona (Poblenou) has 12641 rows with at least one NA value out of 50992 rows.
Data from 1991-01-01 00:00:00 to 2024-03-07 00:00:00
['NO' 'NOX' 'NO2' 'PM10' 'SO2' 'O3' 'CO' 'PM2.5']
Barcelona (Gràcia - Sant Gervasi)

The station Barcelona (Gràcia - Sant Gervasi) has 12951 rows with at least one NA value out of 56624 rows.
Data from 1997-11-04 00:00:00 to 2024-03-07 00:00:00
['SO2' 'NO2' 'O3' 'NOX' 'NO' 'PM10' 'CO' 'H2S' 'PM2.5']
Barcelona (Observatori Fabra)

The station Barcelona (Observatori Fabra) has 3026 rows with at least one NA value out of 10707 rows.
Data from 2018-03-09 00:00:00 to 2024-03-07 00:00:00
['NO' 'O3' 'PM10' 'NO2' 'NOX']
Barcelona (Sants)

The station Barcelona (Sants) has 6127 rows with at least one NA value out of 38864 rows.
Data from 1994-05-13 00:00:00 to 2024-03-07 00:00:00
['NO2' 'NO' 'NOX' 'CO' 'SO2' 'PM10']
Barcelona (Torre Girona)

The station Barcelona (Torre Girona) has 263 rows with at least one NA value out of 1343 rows.
Data from 2010-04-01 00:00:00 to 2011-02-28 00:00:00
['NO2' 'SO2' 'CO' 'O3' 'NO']
Barcelona (Sagrera)

The station Barcelona (Sagrera) has 3958 rows with at least one NA value out of 16733 rows.
Data from 1992-04-24 00:00:00 to 2001-11-30 00:00:00
['NO' 'NO2' 'PM10' 'O3' 'CO' 'SO2' 'PS']
Barcelona (St. Gervasi)

The station Barcelona (St. Gervasi) has 5238 rows with at least one NA value out of 13793 rows.
Data from 1991-01-02 00:00:00 to 1997-11-04 00:00:00
['NO' 'NO2' 'PS' 'O3' 'CO' 'SO2' 'HCT' 'HCNM']

Units used for each POLLUTANT

In [129]:
units_per_pollutant = df_barcelona.groupby('CONTAMINANT')['UNITATS'].unique()
units_per_pollutant

CONTAMINANT
CO       [mg/m3]
H2S      [µg/m3]
HCNM       [ppm]
HCT        [ppm]
NO       [µg/m3]
NO2      [µg/m3]
NOX      [µg/m3]
O3       [µg/m3]
PM10     [µg/m3]
PM2.5    [µg/m3]
PS       [µg/m3]
SO2      [µg/m3]
Name: UNITATS, dtype: object

In [91]:
# Hour columns to rows
df_barcelona_melted = pd.melt(df_barcelona, id_vars=['CODI EOI', 'NOM ESTACIO', 'DATA','MAGNITUD', 'CONTAMINANT', 'UNITATS',
                                 'TIPUS ESTACIO', 'AREA URBANA', 'CODI INE', 'MUNICIPI', 'CODI COMARCA',
                                 'NOM COMARCA', 'ALTITUD', 'LATITUD', 'LONGITUD', 'Georeferència'],
                    var_name='Hora', value_name='Valor')
df_barcelona_melted.drop(columns=['MAGNITUD'],inplace=True)
df_barcelona_melted.head()

,CODI EOI,NOM ESTACIO,DATA,CONTAMINANT,UNITATS,TIPUS ESTACIO,AREA URBANA,CODI INE,MUNICIPI,CODI COMARCA,NOM COMARCA,ALTITUD,LATITUD,LONGITUD,Georeferència,Hora,Valor
0,8019054,Barcelona (Parc Vall Hebron),07/03/2024,NOX,µg/m3,background,urban,8019,Barcelona,13,Barcelonès,136,41.426110,2.148002,NaN,01h,49.0
1,8019050,Barcelona (Ciutadella),07/03/2024,NO2,µg/m3,background,urban,8019,Barcelona,13,Barcelonès,7,41.386406,2.187398,NaN,01h,38.0
2,8019043,Barcelona (Eixample),07/03/2024,PM10,µg/m3,traffic,urban,8019,Barcelona,13,Barcelonès,26,41.385315,2.153800,NaN,01h,17.0
3,8019054,Barcelona (Parc Vall Hebron),07/03/2024,NO,µg/m3,background,urban,8019,Barcelona,13,Barcelonès,136,41.426110,2.148002,NaN,01h,5.0
4,8019057,Barcelona (Palau Reial),07/03/2024,CO,mg/m3,background,urban,8019,Barcelona,13,Barcelonès,81,41.387490,2.115200,NaN,01h,0.3

In [95]:
# Transformar los datos para que los contaminantes sean las columnas
df_barcelona_pivoted = df_barcelona_melted.pivot_table(index=['CODI EOI', 'NOM ESTACIO', 'DATA', 'Hora'], 
                          columns='CONTAMINANT', 
                          values='Valor', 
                          aggfunc='first').reset_index()

# Mostrar el resultado
print(df_barcelona_pivoted.head())
df_barcelona_pivoted

CONTAMINANT  CODI EOI              NOM ESTACIO        DATA Hora   CO  H2S  \
0             8019003  Barcelona (St. Gervasi)  01/01/1992  01h  3.0  NaN
1             8019003  Barcelona (St. Gervasi)  01/01/1992  02h  5.3  NaN
2             8019003  Barcelona (St. Gervasi)  01/01/1992  03h  3.7  NaN
3             8019003  Barcelona (St. Gervasi)  01/01/1992  04h  6.1  NaN
4             8019003  Barcelona (St. Gervasi)  01/01/1992  05h  5.6  NaN

CONTAMINANT  HCNM  HCT     NO   NO2  NOX    O3  PM10  PM2.5    PS   SO2
0             NaN  NaN  140.0  62.0  NaN  15.0   NaN    NaN  71.0  42.0
1             NaN  NaN  195.0  66.0  NaN  11.0   NaN    NaN  79.0  43.0
2             NaN  NaN  177.0  64.0  NaN  10.0   NaN    NaN  69.0  46.0
3             NaN  NaN  355.0  52.0  NaN  13.0   NaN    NaN  76.0  49.0
4             NaN  NaN  328.0  54.0  NaN  14.0   NaN    NaN  84.0  48.0

CONTAMINANT,CODI EOI,NOM ESTACIO,DATA,Hora,CO,H2S,HCNM,HCT,NO,NO2,NOX,O3,PM10,PM2.5,PS,SO2
0,8019003,Barcelona (St. Gervasi),01/01/1992,01h,3.0,NaN,NaN,NaN,140.0,62.0,NaN,15.0,NaN,NaN,71.0,42.0
1,8019003,Barcelona (St. Gervasi),01/01/1992,02h,5.3,NaN,NaN,NaN,195.0,66.0,NaN,11.0,NaN,NaN,79.0,43.0
2,8019003,Barcelona (St. Gervasi),01/01/1992,03h,3.7,NaN,NaN,NaN,177.0,64.0,NaN,10.0,NaN,NaN,69.0,46.0
3,8019003,Barcelona (St. Gervasi),01/01/1992,04h,6.1,NaN,NaN,NaN,355.0,52.0,NaN,13.0,NaN,NaN,76.0,49.0
4,8019003,Barcelona (St. Gervasi),01/01/1992,05h,5.6,NaN,NaN,NaN,328.0,54.0,NaN,14.0,NaN,NaN,84.0,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1565136,8019058,Barcelona (Observatori Fabra),31/12/2023,20h,NaN,NaN,NaN,NaN,1.0,5.0,5.0,66.0,13.0,NaN,NaN,NaN
1565137,8019058,Barcelona (Observatori Fabra),31/12/2023,21h,NaN,NaN,NaN,NaN,1.0,5.0,5.0,63.0,14.0,NaN,NaN,NaN
1565138,8019058,Barcelona (Observatori Fabra),31/12/2023,22h,NaN,NaN,NaN,NaN,1.0,5.0,5.0,63.0,12.0,NaN,NaN,NaN
1565139,8019058,Barcelona (Observatori Fabra),31/12/2023,23h,NaN,NaN,NaN,NaN,1.0,6.0,6.0,61.0,13.0,NaN,NaN,NaN
1565140,8019058,Barcelona (Observatori Fabra),31/12/2023,24h,NaN,NaN,NaN,NaN,1.0,5.0,6.0,61.0,13.0,NaN,NaN,NaN

Fix Datetime

In [109]:
from datetime import datetime, timedelta

def adjust_datetime(row):
    date_str, time_str = str(row['DATA'].replace('/', '-')), row['Hora'].replace('h', '')
    # Replace "24" with "00" and add 1 day to date
    if time_str == "24":
        adjusted_date = datetime.strptime(date_str, '%d-%m-%Y') + timedelta(days=1)
        adjusted_time = "00"
        return adjusted_date.strftime('%d-%m-%Y') + ' ' + adjusted_time
    else:
        return date_str + ' ' + time_str

df_barcelona_pivoted['Date_time'] = df_barcelona_pivoted.apply(adjust_datetime, axis=1)

In [110]:
df_barcelona_pivoted['Date_time'] = pd.to_datetime(df_barcelona_pivoted['Date_time'],format='%d-%m-%Y %H', dayfirst=True)

Now we can erase DATE and Hour columns

In [111]:
df_barcelona_pivoted.drop(columns=['DATA', 'Hora'], inplace=True)

Exclude stations with limited temporal coverage:  Barcelona (Torre Girona), Barcelona (Sagrera) and Barcelona (St. Gervasi)

In [133]:
stations_to_remove = ['Barcelona (Torre Girona)', 'Barcelona (Sagrera)', 'Barcelona (St. Gervasi)']

# Filtrar el DataFrame para excluir las filas donde 'NOM ESTACIO' está en la lista de estaciones a eliminar
df_barcelona_pivoted_filtered = df_barcelona_pivoted[~df_barcelona_pivoted['NOM ESTACIO'].isin(stations_to_remove)]

SMALL DATASETS CREATION

In [120]:
def last_X_years_dataset(df,n_years):
    #latest date on dataframe
    latest_date = df['Date_time'].max()

    # Get start date
    start_date = latest_date - pd.DateOffset(years=n_years)

    # Filter Data by date
    df_last_X_years = df[df['Date_time'] >= start_date]

    # Save to CSV file
    df_last_X_years.to_csv(f"./data/df_Barcelona_pivoted_{n_years}_years.csv", index=False)
    return df_last_X_years

In [123]:
def dataset_by_station(df,n_years):
    #This function creates a dataset by unique value in 'NOM ESTACIO' column
    unique_stations = df['NOM ESTACIO'].unique()
    for station in unique_stations:
        df_station = df[df['NOM ESTACIO'] == station]
        filename = f"./data/station_{station.replace(' ', '_').replace('/', '_').replace('(','').replace(')','')}_{n_years}_years.csv"
        df_station.to_csv(filename, index=False)
        print(f"Data saved for station named: {station}, File: {filename}")

1. Last 5 years

In [122]:
df_barcelona_pivoted_5_years=last_X_years_dataset(df_barcelona_pivoted_filtered,5)

1.1 Each Station

In [125]:
dataset_by_station(df_barcelona_pivoted_5_years,5)

Data saved for station named: Barcelona (Poblenou), File: ./data/station_Barcelona_Poblenou_5_years.csv
Data saved for station named: Barcelona (Sants), File: ./data/station_Barcelona_Sants_5_years.csv
Data saved for station named: Barcelona (Eixample), File: ./data/station_Barcelona_Eixample_5_years.csv
Data saved for station named: Barcelona (Gràcia - Sant Gervasi), File: ./data/station_Barcelona_Gràcia_-_Sant_Gervasi_5_years.csv
Data saved for station named: Barcelona (Ciutadella), File: ./data/station_Barcelona_Ciutadella_5_years.csv
Data saved for station named: Barcelona (Parc Vall Hebron), File: ./data/station_Barcelona_Parc_Vall_Hebron_5_years.csv
Data saved for station named: Barcelona (Palau Reial), File: ./data/station_Barcelona_Palau_Reial_5_years.csv
Data saved for station named: Barcelona (Observatori Fabra), File: ./data/station_Barcelona_Observatori_Fabra_5_years.csv

2. Last year

In [126]:
df_barcelona_pivoted_1_years=last_X_years_dataset(df_barcelona_pivoted,1)

2.1 Each Station

In [127]:
dataset_by_station(df_barcelona_pivoted_1_years,1)

Data saved for station named: Barcelona (Poblenou), File: ./data/station_Barcelona_Poblenou_1_years.csv
Data saved for station named: Barcelona (Sants), File: ./data/station_Barcelona_Sants_1_years.csv
Data saved for station named: Barcelona (Eixample), File: ./data/station_Barcelona_Eixample_1_years.csv
Data saved for station named: Barcelona (Gràcia - Sant Gervasi), File: ./data/station_Barcelona_Gràcia_-_Sant_Gervasi_1_years.csv
Data saved for station named: Barcelona (Ciutadella), File: ./data/station_Barcelona_Ciutadella_1_years.csv
Data saved for station named: Barcelona (Parc Vall Hebron), File: ./data/station_Barcelona_Parc_Vall_Hebron_1_years.csv
Data saved for station named: Barcelona (Palau Reial), File: ./data/station_Barcelona_Palau_Reial_1_years.csv
Data saved for station named: Barcelona (Observatori Fabra), File: ./data/station_Barcelona_Observatori_Fabra_1_years.csv

In [79]:
#borrar
df_barcelona_melted.to_csv("data/BarcelonaAirQuality_melted.csv", index=False)

In [134]:
df_barcelona_pivoted_filtered.to_csv("data/BarcelonaAirQualityfiltered_pivoted.csv", index=False)